body{

margin:0;

font-family:Arial;

color:white;

background:linear-gradient(135deg,#020617,#0f172a,#1e293b);

overflow-x:hidden;

}

/* Background canvas */

#bg{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-1;

}

/* Hero */

.hero{

text-align:center;

padding:100px 20px;

}

.profile{

width:150px;

border-radius:50%;

margin-bottom:20px;

}

/* Glass Sections */

.glass{

width:80%;

margin:50px auto;

padding:40px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(10px);

border-radius:15px;

border:1px solid rgba(255,255,255,0.1);

}

/* Button */

.btn{

padding:12px 25px;

background:#3b82f6;

border:none;

border-radius:6px;

color:white;

cursor:pointer;

}

/* Skills */

.skill{

margin:20px 0;

}

.bar{

background:#1e293b;

height:10px;

border-radius:10px;

}

.progress{

background:#3b82f6;

height:10px;

border-radius:10px;

}

/* Projects */

.projects{

display:flex;

flex-wrap:wrap;

gap:20px;

justify-content:center;

}

/* 3D Cards */

.project-card{

background:rgba(255,255,255,0.05);

padding:20px;

width:250px;

border-radius:15px;

transition:transform 0.4s;

transform-style:preserve-3d;

}

.project-card:hover{

transform:rotateY(15deg) rotateX(10deg) scale(1.05);

}

/* Timeline */

.timeline{

border-left:3px solid #3b82f6;

padding-left:20px;

}

.timeline-item{

margin:20px 0;

}

/* Scroll Animation */

.reveal{

opacity:0;

transform:translateY(40px);

transition:all 1s;

}

.reveal.active{

opacity:1;

transform:translateY(0);

}

/* Mobile */

@media(max-width:768px){

.glass{

width:95%;

}
#chatbot{

position:fixed;

bottom:20px;

right:20px;

width:260px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

border-radius:10px;

padding:10px;

color:white;

}

#chatBody{

height:200px;

overflow-y:auto;

margin-bottom:10px;

font-size:14px;

}

#chatInput{

width:100%;

padding:6px;

margin-bottom:5px;

}

#chatHeader{

font-weight:bold;

margin-bottom:8px;

}
#three-bg{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-1;

}

}